//radioactive-weekday.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.10ae1900-0595-4265-9cbf-db9e1067f4c2/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@spotify-compute-module:registry=https://radioactive-weekday.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.10ae1900-0595-4265-9cbf-db9e1067f4c2/contents/release/npm